
              <div class="card">
                      <div class="card-title">
                        <i class="fa fa-check fa-2x"></i>
                        Experience
                        <i class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right; padding-right:12px"></i>
                      </div>
                      <hr>
                      <div class="card-body">
          <div class="row">
              <div class="col-md-6 col-sm-12 spacer">
                      <div [routerLink]="['/projects/smart-exam']" class="card" style="width: 18rem;">
                              <img class="card-img-top" src="assets/img/smart-exam.png" alt="Card image cap">
                              <div class="card-body">
                                  <h6>Smart Exam</h6>
                              </div>
                  </div>
              </div>
              <div class="col-md-6 col-sm-12 spacer">
                      <div [routerLink]="['/projects/shop-zone']" class="card" style="width: 18rem;">
                              <img class="card-img-top" src="assets/img/shopzone.png" alt="Card image cap">
                              <div class="card-body">
                                  <h6>ShopZone</h6>
                              </div>
                  </div>
              </div>
                <div class="col-md-6 col-sm-12 spacer ">
                      <div [routerLink]="['/projects/dhamal-music']" class="card" style="width: 18rem;">
                              <img class="card-img-top" src="assets/img/dhamal-music.png" alt="Card image cap">
                              <div class="card-body">
                                  <h6>Dhamal Music</h6>
                              </div>
                  </div>
              </div>
              <div class="col-md-6 col-sm-12 spacer">
                      <div [routerLink]="['/projects/social']" class="card" style="width: 18rem;">
                              <img class="card-img-top" src="assets/img/social.png" alt="Card image cap">
                              <div class="card-body">
                                  <h6>Social</h6>
                              </div>
                  </div>
              </div>
              </div>
              </div>

