     <div class="card" >
       <div class="card-title">
                        <i class="fa fa-check fa-2x"></i>
                       Project
                        <i class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right;"></i>
                      </div>
                      <hr>
              <img class="card-img-top" src="assets/img/dhamal-music.png" alt="Card image cap">
              <div class="card-body">
                  <h6>Dhamal Music</h6>
              </div>   
              <h4>Technology</h4>
              <p> Html, CSS, Angular Material, firebase as DB</p>
              <h5>Description</h5>
              <p> This application is a cloud based music player application. where user can listen live music and song without 
                haveing it locally on its device storage. 
              </p>
              <h6>My Role</h6>
              <p>The Whole Application Designed and developed by Me.</p>
            <a class = "btn btn-primary" href = "#" >ViewDemo</a>    
  </div>
