<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <ul class="navbar-nav mr-auto" >
  <li class="nav-item">
  <a href = "https://www.facebook.com/kuldip.kumar.98837">
   <i class="fa fa-facebook-square fa-2x"></i>
   </a>
  <a href = "https://github.com/kuldipkumar836">
<i class="fa fa-github fa-2x"></i>
  </a>
  <a href = "https://wa.me/7309877627?text=join%20me%20to%20chat">
  <i class="fa fa-whatsapp fa-2x">
  </i></a>
  <a href = "https://www.linkedin.com/in/kuldip-kumar-27b4a5a3/">
  <i class="fa fa-linkedin fa-2x">
  </i></a>
  </li>
  </ul>
</nav>
