ul li a{
   padding: 20px;
    color:white;
    float:left;
    
}
ul li a:hover{
    color:blue;
}
 li{
    display: inline;
}
 ul{
    overflow: auto;
    width: auto;
    padding-left: 50px;    

}
