
      <div class="card" >
       <div class="card-title">
                        <i class="fa fa-check fa-2x"></i>
                       Project
                        <i class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right;"></i>
                      </div>
                      <hr>
              <img class="card-img-top" src="assets/img/smart-exam.png" alt="Card image cap">
              <div class="card-body">
                  <h6>Smart Exam</h6>
              </div>  
              <h4>Technology</h4> 
              <p>Html, CSS, bootstrap, firebase as DB</p>
              <h5>Description</h5>
              <p> This project is very useful to those student who are preparing for compititive exam. By this Application
                student can Practice the important question and ans with explanation. This application also provide a
                demo computer test like a real one.
              </p>
              <h6>My Role</h6>
              <p> This whole application is developed and designed by me from frontend to Backend </p>
            <button class = "btn btn-primary" href = "https://exam-2ed00.firebaseapp.com/home" >ViewDemo</button>    
  </div>

