<div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 profile">
                <app-profile></app-profile>
            </div>
            <div class=" col-sm-6 col-lg content ">
                    <div class="card">
                            <div class="card-title">
                              <i class="fa fa-check fa-2x"></i>
                              About me
                              <i class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right;"></i>
                            </div>
                            <hr>
                            <div class="card-body">
                          <h2>Hello to All</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium amet molestiae, sint optio error blanditiis non voluptatem atque voluptatum velit?</p>
                      </div>
                      <div class="card">
                          <div class="card-title"><h6>Location</h6> </div>
                          <div class="card-body">
                                <i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:red"></i>
                              <p>Noida Uttar Pradesh</p>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-title"><h6>Date of Birth</h6> </div>
                          <div class="card-body">
                              <i class="fa fa-calendar fa-2x" style="color:blue"></i>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
</div>
