
            <div class="card">
                    <div class="card-title">
                        <i class="fa fa-check fa-2x"></i>
                        ContactUs
                        <i class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right;"></i>
                    </div>
                    <hr>
                <div class="card-body">
                        <div class="row">
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 15rem;">
                                                <div class="card-body">
                                                 <i class="fa fa-phone fa-2x" style="color: green"></i>
                                                  <h6 class="card-title">Phone: 7309877627</h6>
                                                  
                                        </div>
                                </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 15rem;">
                                                <div class="card-body">
                                                                <i class="fa fa-envelope fa-2x" style="color: blue"></i>
                                                  <h5 class="card-title">Email: kkuldip836@gmail.com</h5>
                                                  
                                        </div>
                                </div>
                          </div>
        </div>
           </div>

