
            <div class="card">
                <div class="card-title">
                    <i class="fa fa-check fa-2x"></i>
                    Experience
                    <i  class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right;"></i>
                </div>
                <hr>
            <div class="card-body">
          <div class="list-group">
            <li class="list-group-item">
              <i class="fa fa-university fa-2x" aria-hidden="true"></i>
              <span class="title">
               TechnoSoft pvt ltd
              <p> Angular developer </p>
              <p> july 2019 to present </p>
              </span>
            </li>
            <li class="list-group-item">
              <i class="fa fa-university fa-2x" aria-hidden="true"></i>
              <span class="title">
               Atbrows services pvt. ltd 
              <p> as SEO </p>
              <p>march 2019 to may 2019  </p>
               
              </span>
            </li>
            <li class="list-group-item">
              <i class="fa fa-university fa-2x" aria-hidden="true"></i>
              <span class="title"> Trident Systems Pvt. ltd
              <p> as Technical Consultant(Java) </p>
              <p> january 2017 to feb 2019 </p>
              </span>
            </li>
          </div>
            </div>
          </div>

