<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-4 profile">
            <app-profile></app-profile>
        </div>
        <div class=" col-sm-6 col-lg content ">
                <div class="card">
                        <div class="card-title">
                          <i class="fa fa-check fa-2x"></i>
                          Experience
                          <i class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right;"></i>
                        </div>
                        <hr>
                        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/img/t-shirt.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6>Smart Exam</h6>
                                </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 ">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/img/t-shirt.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6>Dhamal Music</h6>
                                </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/img/t-shirt.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6>ShopZone</h6>
                                </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/img/t-shirt.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6>Chat4me</h6>
                                </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
     </div>
</div>