<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-4 profile">
            <app-profile></app-profile>
        </div>
        <div class=" col-sm-6 col-lg content ">
                        <div class="card">
                                        <div class="card-title">
                                          <i class="fa fa-check fa-2x"></i>
                                          Skill
                                          <i class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right;" ></i>
                                        </div>
                                        <hr>
                                        <div class="card-body">
                        <div class="row">
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 18rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">Angular</h5>
                                                  <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                                                      </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 18rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">NodeJs</h5>
                                                  <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                      </div>
                                                </div>
                                        </div>
                                </div>
                          </div>
                        <div class="row">
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 18rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">JavaScript</h5>
                                                  <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                      </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 18rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">MONGODB</h5>
                                                  <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                      </div>
                                                </div>
                                        </div>
                                </div>
                          </div>
                          <div class="row">
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 18rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">Bootstrap</h5>
                                                  <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                                      </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 18rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">Angular Material</h5>
                                                  <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                      </div>
                                                </div>
                                        </div>
                                </div>
                          </div>
                          <div class="row">
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 18rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">HTML5</h5>
                                                  <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                                      </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                        <div class="card" style="width: 18rem;">
                                                <div class="card-body">
                                                  <h5 class="card-title">CSS3</h5>
                                                  <div class="progress">
                                                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                                      </div>
                                                </div>
                                        </div>
                                </div>
                          </div>
                </div>
            </div>
          </div>
    </div>
</div>
