     <div class="card" >
       <div class="card-title">
                        <i class="fa fa-check fa-2x"></i>
                       Project
                        <i class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right;"></i>
                      </div>
                      <hr>
              <img class="card-img-top" src="assets/img/shopzone.png" alt="Card image cap">
              <div class="card-body">
                  <h6>ShopZone</h6>
              </div>   
              <h4>Technology</h4> 
              <p>Html, CSS, Angular Material, firebase as DB</p>
              <h5>Description</h5>
              <p> This Application is e-commerse website from were user can buy any product put an order for purchage
                and many option.
              </p>
              <h6>My Role</h6>
              <p> This whole application is developed and designed by me from frontend to Backend </p>
            <a class = "btn btn-primary" href = "https://shopingzone-77ff1.web.app/" >ViewDemo</a>    
  </div>

