     <div class="card" >
       <div class="card-title">
                        <i class="fa fa-check fa-2x"></i>
                       Project
                        <i class="fa fa-home fa-2x" [routerLink]="['/home']" style="float:right;"></i>
                      </div>
                      <hr>
              <img class="card-img-top" src="assets/img/smart-exam.png" alt="Card image cap">
              <div class="card-body">
                  <h6>Smart Exam</h6>
              </div>   
              <h5>Description</h5>
              <p></p>
              <h6>My Role</h6>
              <p></p>
            <a class = "btn btn-primary" href = "#" >ViewDemo</a>    
  </div>